.main-container-cv {
	font-family: 'Maven Pro', sans-serif;
	color: var(--color-hover-btn);
	letter-spacing: 0.012em;
	width: 60%;
	margin: 0 auto;
}

.main-container-cv p {
	font-size: 0.87rem;
	padding: 0.31em 0;
}

.main-container-cv h4 {
	padding: 0 1.8em;

	font-size: 1.1rem;
}

.main-container-cv h5 {
	padding: 0.31em 0;
	font-size: 1rem;
}

.main-container-cv a {
	text-decoration: none;
	color: var(--header-title-color);
	padding: 0.31em 0;
}
.main-container-cv spam {
	color: var(--header-title-color);
}
.main-container-cv li {
	padding: 0.3em 0;
	margin: 0 0.37em 0;
}

.article-cv {
	max-width: 27%;
	color: var(--header-text-color);
	background-color: var(--header-darker-color);
	padding: 1em;
	margin: 1em;
	border-radius: 0.62em;
	letter-spacing: 0.01em;
	line-height: 1.5em;
	transition: 0.3s;
}

.article-cv:hover {
	transition: 0.3s;
	background-color: var(--header-darker-hover-color);
}

.info-cv {
	color: var(--header-text-color);
	background-color: var(--header-darker-color);

	padding: 1em;
	margin: 1em;
	border-radius: 0.62em;
	letter-spacing: 0.01em;
	line-height: 1.5em;
	transition: 0.3s;
}

.info-cv:hover {
	transition: 0.3s;
	background-color: var(--header-darker-hover-color);
}

.foto-perfil-cv {
	border-radius: 0.62em;
	margin: 0 6.25em;
	width: 55%;
	transition: 0.3s;
}

.foto-perfil-cv:hover {
	transition: 0.3s;
	width: 65%;
}

.division {
	border: dimgray solid;
}

.info-flex {
	display: flex;
	justify-content: center;
	margin: 0.62em;
	padding: 0.62em;
}

.nav-bar-cv {
	display: flex;
	font-size: 0.75rem;
	padding: 0.5em 0;
	justify-content: center;
	transition: 0.3s;
}
