@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
	--header-text-color: #eeeeee;
	--header-container-color: #222831;
	--header-element-color: #393e46;
	--header-title-color: #00adb5;
}

.main-container-cv {
	font-family: 'Montserrat', sans-serif;
	color: dimgray;
	width: 60%;
	margin: 0 auto;
}

.p-cv {
	font-size: 14px;
	padding: 0;
}

.h4-cv {
	margin-left: 8px;
	font-size: 1.1rem;
}

.h5-cv {
	font-size: 1rem;
}

.a-cv {
	text-decoration: none;
	color: blueviolet;
}
.spam-cv {
	color: blueviolet;
}
.li-cv {
	margin: 0 6px;
}
/* 
.article-cv {
	background-color: #f7f7f7;
	padding: 10px;
	margin: 15px 0;
	border-radius: 10px;
}

.footer-cv {
	text-align: center;
	padding: 15px;
}

.foto-perfil-cv {
	border-radius: 10px;
	width: 160px;
}

.division {
	border: dimgray solid;
}

.info-flex {
	display: flex;
	justify-content: center;
}

.nav-bar-cv {
	display: flex;
	font-size: 12px;
	justify-content: center;
} */
