.main-container {
	font-family: 'Poiret One', cursive;
	color: var(--header-text-color);
}

.container-flex-index {
	display: flex;
	flex-flow: row wrap;
	color: var(--header-title-color);
	justify-content: space-around;
	transition: 0.3s;
}

.container {
	border-radius: 1em;
	flex: 1 1 25%;
	text-align: center;
	margin: 1em;
	cursor: pointer;
	/* border: solid 0.1px var(--header-element-color); */
	background-color: var(--header-darker-color);
	transition: 0.3s;
}

.container h1 {
	padding: 1.56em;
	font-weight: 100;
	font-size: 2rem;
	letter-spacing: 0.12em;
	color: var(--header-text-color);
	transition: 0.3s;
}

.container h4 {
	padding: 1.56em;
	font-weight: 100;
	font-size: 1rem;
	letter-spacing: 0.1em;
	color: var(--header-text-color);
	transition: 0.3s;
}

.container:hover {
	transition: 0.3s;
	background-color: var(--header-darker-hover-color);
}

.container h4:hover {
	transition: 0.3s;
}

.container h1:hover {
	transition: 0.3s;
}
