@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
	--header-text-color: #eeeeee;
	--header-container-color: #222831;
	--header-element-color: #393e46;
	--header-title-color: #00adb5;
	--text-color: rgb(236, 236, 236);
	--body-color: #5026a7;
	--container-color: #8d448b;
	--box-color: #cc6a87;
	--border-color: #eccd8f;
}

code {
	background-color: var(--body-color);
	display: block;
	border-radius: 0.3em;
	padding: 0.5em;
}

.main-container {
	font-family: 'Poiret One', cursive;
	color: var(--header-text-color);
}

/* colors */

.pale {
	color: var(--header-text-color);
}

.petrol {
	color: var(--header-container-color);
}

.light-petrol {
	color: var(--header-element-color);
}

.sky {
	color: var(--header-title-color);
}

/* background-colors*/

.bgc-beige {
	background-color: var(--border-color);
}

.bgc-pale {
	background-color: var(--header-text-color);
}

.bgc-petrol {
	background-color: var(--header-container-color);
}

.bgc-light-petrol {
	background-color: var(--header-element-color);
}

.bgc-sky {
	background-color: var(--header-title-color);
}

.container-flex-notes {
	color: var(--header-text-color);
	flex-flow: row wrap;
	display: flex;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.container-notes {
	border-radius: 1em;
	flex: 1 0 18%;
	max-width: 18%;
	overflow: hidden;
	font-size: 0.9rem;
	text-align: left;
	line-height: 2em;
	padding: 2em;
	margin: 2.2em;
	transition: 0.3s;
}

.container-notes h2 {
	padding: 0.5em 0;
	letter-spacing: 0.15em;
	color: var(--header-text-color);
	transition: 0.3s;
}

.container-notes p {
	letter-spacing: 0.06em;
}

.container-notes a {
	color: var(--box-color);
	font-size: 0.8rem;
}

.container-notes:hover {
	transition: 0.3s;
	background-color: var(--header-element-color);
}
